.carousel-area-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project-carousel-container{
    position: relative;
    /* left: 20%; */
    width: 25%;
    /* clip-path:  polygon(0% 0%, 100% 0, 100% 100%, 0% 100%); */
    /* clip-path:  polygon(25% 0%, 75% 0, 75% 100%, 25% 100%); */
    /* background-color: brown; */
}
.project-carousel-items-container{
    /* width: 50%; */
    height: fit-content;
    /* background-color: cornflowerblue; */
}
.project-carousel-items{
    height: 10vh;
    width: fit-content;
        /* transform: translateX(50vw); */

    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -ms-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
}

.project-item{
    height: 100%;
    margin: 0 20px;
    width: 20vh;
    cursor: pointer;
}

.project-image{
    height: 100%;
}

.carousel-control-container{

}

.carousel-index{
    clip-path: circle(40%);
    width: 20px;
    height: 20px;
    background-color: rosybrown;
    cursor: pointer;
}
.carousel-index-selected{

}

.carousel-nav-arrow-left{
    cursor: pointer;
    z-index: 1000;
    
}
.carousel-nav-arrow-right{
    cursor: pointer;
    z-index: 1000;
    
}