
/* Nav */
.nav-item-container{
    position: relative;
    display: flex;
    width: 75vw;
    margin: 50vh auto;
    display: flex;
    justify-content: space-evenly;
    transition: .7s all ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
}
.nav-full{
    background-color: #00367c7e;
    transition: .7s all ease-in-out;
    -webkit-transition: .7s all ease-in-out;
    -moz-transition: .7s all ease-in-out;
    -ms-transition: .7s all ease-in-out;
    -o-transition: .7s all ease-in-out;
}

.nav-item{
    font-size: 30px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
}
/* .nav-item-mobile{
    font-size: 20px;
} */
.nav-item:after{
    position: absolute;
    left: -10%;
    content: "";
    width: 0;
    height: 100%;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    border-bottom: 2px solid var(--color-tertiary-harmony);
    animation-name: nav-line;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes nav-line{
    0%{
        left: 0;
    }
    100%{
        left: 110%;
    }
}

.section-title{
    font-size: 45px;
    font-weight: 700;
}


  /* desktop */

  /* tablet */
  @media screen and (max-width: 900px) {
    .nav-item{
        /* font-size: 25px; */
        margin: 0 5px;
    }
    .nav-item:hover{
        color: var(--color-tertiary-harmony);
    }
    .nav-item:hover:after{
        width: 100%;
        left: 0;
        animation-name: none;
    }
  }

    
  @media screen and (min-width: 900px){
    .nav-item{
        font-size: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    .nav-item{
        font-size: 25px;
    }
  }

  @media screen and (min-width: 600px) {
    .nav-item:hover{
        color: var(--color-tertiary-harmony);
    }
    .nav-item:hover:after{
        width: 100%;
        left: 0;
        animation-name: none;
    }
  }

  /* mobile */
  @media screen and (max-width: 600px) {
    .nav-item{
        font-size: 20px;
        margin: 0 5px;
    }
  }
