.intro-area{
    /*height: 30vh;
    */position: relative;
    top: 50vh;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}
.intro-quote{
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    text-align: left;
    margin: 0 50px 50px 50px;
    /* padding: 10vh 0 0 0; */
    font-weight: 600;
    /* background-color: khaki; */
}
.intro-name{
    font-size: 25px;
    text-align: right;
    margin-bottom: 50px;
    margin-right: 20px;
    font-weight: 600;
}
.intro-nav-options-container{
    margin: 0 auto;
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
}
.intro-nav-option{
    font-size: 25px;
    cursor: pointer;
}

/* desktop */

@media screen and (min-width: 800px) {
    .intro-quote{
        font-size: 60px;
    }
  }

  /* table */

@media screen and (min-width: 600px) {
    .intro-quote{
        font-size: 45px;
    }
  }

  /* mobile */

@media screen and (max-width: 600px) {
    .intro-quote{
        font-size: 30px;
        margin: 0 5px;
    }
  }