:root{
  /* --color-primary: rgb(205, 233, 255);
  --color-secondary: rgb(36,108,146);
  --color-tertiary: rgb(0,33,52);
  --color-primary-harmony: rgb(205, 233, 255);
  --color-secondary-harmony: rgb(146, 73, 36);
  --color-tertiary-harmony: rgb(0,33,52); */
  /* --color-primary: rgb(20, 28, 182); */
  --color-primary: rgb(0,33,52);
  --color-secondary: rgb(36,108,146);
  --color-tertiary: rgb(205, 233, 255);
  --color-primary-harmony: rgb(205, 233, 255);
  --color-secondary-harmony: rgb(146, 73, 36);
  --color-tertiary-harmony: rgb(233, 190, 0);
  --color-tertiary-harmony-active: rgb(255, 253, 117);
}

.App {
  text-align: center;
  color: white;
  font-weight: 500;
  /* background-color: var(--color-primary); */
  background-image: radial-gradient(circle, var(--color-primary) 0%, rgb(0, 155, 245) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#loading-container{
  
}
#loading-img{
  background-color: salmon;
  width: 30px;
  height: 30px;
  clip-path: circle();
  animation: loadingImg 3s infinite;
  -webkit-animation: loadingImg 3s infinite;
}

@keyframes loadingImg{
  0%{
    clip-path: circle();
  }
  25%{
    width: 0;
    height: 0;
  }
  50%{
    width: 30px;
    height: 30px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }
  75%{
    width: 0;
    height: 0;
  }
  100%{
    width: 30px;
    height: 30px;
    clip-path: circle();
  }
}