:root{
    --color-1: rgb(0, 162, 255, .7);
    --color-1-button-hover: rgba(0, 162, 255, .4);
    --color-button-hover-font: rgb(255, 255, 255);
}

#body-container{

}
.body-section{
    margin: auto;
    width: 90vw;
}
.project-container{
    width: 90vw;
    margin: 0 10px 5% 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.project-image-main{
    flex: 4;
    height: 200px;
    width: 200px;
    background-color: bisque;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.img{
    height: 100%;
    width: 100%;
}
.project-details-container{
    flex: 6;
}
.project-title{
    font-size: 25px;
    font-weight: 700;
}
.project-description{

}
.project-description-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2.5% 25%;
}
.description-button{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-1);
    box-sizing: border-box;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1.1px solid var(--color-1);
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    -ms-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
}
.description-button:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    color: var(--color-button-hover-font);
    background-color: var(--color-1-button-hover);
    box-shadow: 1px 1.25px 3.5px rgba(0, 162, 255, .25);
    border: .1px solid var(--color-1-button-hover);
}
.project-preview-images{

}
.preview-image{

}